* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    height: 189px;
    background: linear-gradient(rgb(66, 97, 220), rgb(14, 1, 52));
}

.header__container {
    color: aliceblue;
    width: 1040px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu__item {
    margin-right: 30px;
}

.menu__item:hover {
    border-bottom: 2px solid white;
    translate: 1000ms;
}

.img {
    background: url("./ima.jpg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    border-radius: 100px;
    background-size: cover;
}

.img:hover {
    transform: rotate(200deg);
    transition: 1000ms;
}

.main__container {
    border: 1px solid rgb(255, 255, 255);
    min-height: 450px;
    width: 1040px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 40px;
    color: whitesmoke;
    border-radius: 40px;
    margin-bottom: 40px;
}

body {
    background: linear-gradient(rgb(20, 6, 150), rgb(144, 0, 255));
}

.title__contacts {
    font-size: 32px;
    margin-bottom: 20px;
}

.btn__animation {
    background: url();
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-size: cover;
    transform: translateX(300%);
    transition: 1000ms;
}

.btn {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    background: linear-gradient(200deg, rgb(7, 1, 81), 20%, rgb(3, 3, 222));
    border-radius: 5px;
    margin-top: 20px;
}

.section__game{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid white;
    padding: 40px;
}

.link__joke{
    padding: 10px 20px;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
}

.link__joke:hover{
    transform: translate(400%,-300%);
    transition: 300ms;
}